@page "/Segment/{SegmentId:int}"
@using ValhallaVaultCyberAwareness.Client.Services
@using ValhallaVaultCyberAwareness.Client.ViewModels
@using ValhallaVaultCyberAwareness.Domain.Models

@inject ISegmentService SegmentService
@inject AuthenticationStateProvider authStateProvider
@inject IUserAnswersService userAnswersService

<PageTitle>Quiz Segments</PageTitle>

<!-- Check if content has loaded. If it has not display Loading-->
@if (segments == null)
{
    <h2><em>Loading...</em></h2>
}
else
{
    // Div to display cards as a row instead of top to bottom
    <div class="row">
        @foreach (var SubCategoryItem in segments.SubCategoryScores)
        {
            <div class="col-4">
                <div class="card border-dark text-center w-75 mt-5">
                    <img class="card-img-top" src="https://variety.com/wp-content/uploads/2023/04/Twitter-Logo-Doge-Dogecoin.png" alt="Card image cap" />
                    <div class="card-img-overlay">
                        <h4 class="card-title">@SubCategoryItem.SubCategoryName</h4>
                    </div>
                    <div class="card-footer">
                        <p>@segments.SegmentDescription</p>
                        <ul>
                           
                            
                                <li>@SubCategoryItem.SubCategoryName - 

                                    @SubCategoryItem.CorrectUserAnswers
                                    
                                    / @SubCategoryItem.TotalQuestions
                                </li>
                            
                        </ul>
                        <p class="card-description">@segments.SegmentDescription</p>
                    </div>
                    <div class="card-body mt-5">
                        @if (segments.AvailableSubCategoryIndex >= segments.SubCategoryScores.IndexOf(SubCategoryItem))
                        {
                            <a href="@($"https://localhost:7107/quiz/{SubCategoryItem.SubCategoryId}")" class="stretched-link"></a>
                        }
                        else if (segments.AvailableSubCategoryIndex == -1)
                        {
                            <p>Det finns inga frågor registrerade i denna subkategori</p>
                        }
                        else
                        {
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2" />
                                </svg> Slutför tidigare segment för att få tillgång till frågorna i detta segment
                            </p>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    [Parameter]
    public int SegmentId { get; set; }
    // Create a list of all segments using GetSegments();
    private SegmentUserScoreViewModel segments;

    public string? UserId { get; set; }


    protected override async Task OnInitializedAsync()
    {
        var authState = await authStateProvider.GetAuthenticationStateAsync();
        UserId = authState.User.FindFirst(c => c.Type.Contains("nameidentifier"))?.Value;

        segments = await SegmentService.GetSegmentWithUserScore(SegmentId, UserId);

    }
}
